.blog__options {
  width: 75%;

  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media(min-width: 768px) {
  .blog__options {
    margin-bottom: 20px;
  }
}