/* 

CSS RESET

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  width: 100%;
  height: 100%;
}

.section-gen-layout {
  width: 100%;
}

.header {
  background: #000;
  text-align: center;
  padding: 1%;
}

.header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header__logo:hover {
  color: pink;
}

.content {
  /* background: red; */
  /* padding: 30px 200px; */
}

.content__card {
  height: 140px;
  width: 80%;
  margin: 17px auto;
  padding: 13px;
  border-radius: 3px;
  border: 1.5px solid #cecece;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

.btn {
  margin: auto;
}

.content__card_one {
  background-image: url('https://media.wired.com/photos/5d09594a62bcb0c9752779d9/16:9/w_2000,h_1125,c_limit/Transpo_G70_TA-518126.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background: pink;
  padding: 1%;
}