@import url('./__logo/header__logo.css');
@import url('./__nav/header__nav.css');
@import url('./__navLinks/header__navLinks.css');
@import url('./__navLink/header__navLink.css');
@import url('./__navIcon/header__navIcon.css');

.header {
  background: #000;
  text-align: center;
  padding: 1%;
  width: 100%;
}