.header__logo {
  text-decoration: none;
  color: rgb(72, 45, 209);
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
}

.header__logo:hover {
  color: #fff;
}